.color-primary{
    color: $color-primary;
}

.color-secund{
    color:$color-secund;
}

.color-yellow{
    color:$color-yellow;
}

.color-primary-bg{
    background: $color-primary;
}

.color-secund-bg{
    background: $color-secund;
}

.color-yellow-bg{
    background: $color-yellow;
}